/*general reset*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

header {
    position: sticky;
    top: 0;
    background-color: #343a40;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: rgb(231, 226, 226);
    z-index: 999;
}

nav menu h2,
li {

    display: inline-block;
    margin: 2vh 1.5vw;
}

#search {

    padding: 2vh 1.5vw;
    margin: 0 0.5vw;
}

#search input {

    border: 0;
    border-radius: 2px;
    height: 6vh;
}

#search button {

    background-color: #343a40;
    color: #008000;
    border: 1px solid #008000;
    padding: 1vh 0.5vw;
    border-radius: 2px;
    height: 6vh;
}

header a {

    color: inherit;
    text-decoration: none;
}

header a:hover {

    color: #ffffff
}

.slides {

    min-width: 100%;
    min-height: 85vh;
    display: flex;
    padding: 15vh 15vw;
    flex-direction: column;
    flex-wrap: wrap;
    color: #ffffff;
    line-height: 5vh;
    justify-content: flex-end;
}

#slide-1 {

    align-items: flex-start;
    text-align: left;
}

#slide-2 {

    align-items: center;
    text-align: center;
}

#slide-3 {

    align-items: flex-end;
    text-align: right;
}

#slide-2,
#slide-3 {

    display: none;
}

.slides h2 {

    font-size: 2.5rem;
    padding: 3vh 0;
}

.slides p {

    font-size: 1.25rem;
    padding: 3vh 0;
}

.sec1-btn {

    background-color: #4f4ff2;
    font-size: 1rem;
    border: 0;
    color: #ffffff;
    border-radius: 3px;
    padding: 10px;
}

.sec1-btn:hover {

    cursor: pointer;
}

#circle-images {

    background-color: #ffffff;
    color: #343a40;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10vh 5vw;
    padding: 0 0 8vh 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.6)
}

.column-text {

    font-size: 1rem;
    flex-basis: 33%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2vw;
}

.column-text h3 {

    font-size: 2rem;
    padding: 1vw 0;
}

.sec2-img {

    height: 22.5vh;
    width: 10vw;
    border: 0;
    border-radius: 100px;
}

.sec2-btn {

    margin: 2vh 0 0 0;
    padding: 1vh 1vw;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border: 0;
    border-radius: 3px;
}

#square-images {

    margin: 10vh 5vw;
    color: rgba(0, 0, 0, 0.6)
}

.block-text {

    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 8vh 0;
    padding: 0 0 8vh 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.block-text img {

    height: 80%;
    width: 30%;

}

.txt {

    width: 65%;
    height: 20%;
    font-size: 1.5rem;
    padding: 0 2vw 0 0;
}

.txt h2 {

    font-size: 3rem;
}

footer {

    display: flex;
    flex-direction: row;
    margin: 0 5vw 5vh 5vw;
    align-items: center;
    justify-content: space-between;
}

footer a {

    text-decoration: none;
    color: #4f4ff2;
}

footer a:hover {

    color: #333392;
    text-decoration: underline;
}

.light {

    color: rgba(0, 0, 0, 0.4)
}

#slider-images {

    position: relative;
    height: auto;
    background-color: rgba(90, 90, 90, 0.6);
}


.arrow-container {

    padding: 0 6vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 998;
    pointer-events: none;
}

.arrow {

    font-size: 3rem;
    color: #f2f2f2;
    cursor: pointer;
    pointer-events: all;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.arrow:hover {

    opacity: 1;
}

.line-container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0 0 2vh 0;
}

.line {

    width: 30px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
}

.line:hover {

    cursor: pointer;
}

.line.highlight {

    background-color: #ffffff;
}

